* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #b0d6fb;
}

.box {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 25px #0d4074;
}

.box h2,
.box p {
    color: #0d4074;
}